/Manifest.toml
Lectures/Part_I/.ipynb_checkpoints/DNL_Flujos1D__Parte2_Julia-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_Flujos1D_Julia-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_Flujos_Circulo_Julia-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_Interactive_Julia-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_Julia-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_Parte2_Julia-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_Parte3_Julia-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_AutoOsciladores_Julia-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Bifurcaciones-checkpoint.ipynb
*.gif
Lectures/Extras/.ipynb_checkpoints/Saxophone_Analisis-checkpoint.ipynb
Lectures/Extras/.ipynb_checkpoints/Saxophone_Senales-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_EspacioDeFases-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_AutoOsciladores-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Flujos2DForzados_Flujos3D-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_Zoo_Dinamico-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Flujos2DForzados_Caos-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/Ayuda Practica 1-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_AutoOsciladores-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_Introduccion-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_Lineales-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_Linealizacion-checkpoint.ipynb
Lectures/Part_II/DNL_Flujos2D_AutoOsciladores-Copy1.ipynb
Lectures/Part_I/Ayuda Practica 1.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_AutoOsciladores-Copy1-checkpoint.ipynb
Lectures/Extras/.ipynb_checkpoints/DynSysAudio-checkpoint.ipynb
Lectures/Extras/DynSysAudio.ipynb
Lectures/Part_I/Ayuda Practica 1.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Flujos2D_Forzados-checkpoint.ipynb
Lectures/Part_I/Ayuda Practica 1.ipynb
Lectures/Part_II/.ipynb_checkpoints/Tips practica2-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Lectures/Part_III/Untitled.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Bifurcaciones_Parte1-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Bifurcaciones_Parte2-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Bifurcaciones_Codimension2-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Bifurcaciones_Globales-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Bifurcaciones_Locales-checkpoint.ipynb
Lectures/.DS_Store
Lectures/Part_III/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/Flujos3d_Caos-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Analisis_Bifurcaciones-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Flujos3D_Caos-checkpoint.ipynb
Lectures/Extras/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Lectures/Extras/.ipynb_checkpoints/Saxophone_Analisis_Parte2-checkpoint.ipynb
Lectures/files/Ejercicios/download.png
Lectures/Part_I/.ipynb_checkpoints/DNL_1_Flujos1D_Parte1-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_2_Flujos1D__Parte2_Julia-checkpoint.ipynb
Lectures/Pluto/.ipynb_checkpoints/Untitled-checkpoint.ipynb
