/Manifest.toml
Lectures/Part_I/.ipynb_checkpoints/DNL_Flujos1D__Parte2_Julia-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_Flujos1D_Julia-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_Flujos_Circulo_Julia-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_Interactive_Julia-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_Julia-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_Parte2_Julia-checkpoint.ipynb
Lectures/Part_II/.ipynb_checkpoints/DNL_Flujos2D_Parte3_Julia-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_AutoOsciladores_Julia-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Bifurcaciones-checkpoint.ipynb
*.gif
Lectures/Extras/.ipynb_checkpoints/Saxophone_Analisis-checkpoint.ipynb
Lectures/Extras/.ipynb_checkpoints/Saxophone_Senales-checkpoint.ipynb
Lectures/Part_I/.ipynb_checkpoints/DNL_EspacioDeFases-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_AutoOsciladores-checkpoint.ipynb
Lectures/Part_III/.ipynb_checkpoints/DNL_Flujos2DForzados_Flujos3D-checkpoint.ipynb
